# --- Core & App Settings ---
NUXT_PUBLIC_SSL_ENABLED=false
NUXT_PUBLIC_BASE_DOMAIN="localhost:3000"
NUXT_TASK_SECRET=""

# --- Authentication ---
NUXT_AUTH_SECRET="super-secret-key"
NUXT_GITHUB_CLIENT_ID=""
NUXT_GITHUB_CLIENT_SECRET=""
NUXT_GOOGLE_CLIENT_ID=""
NUXT_GOOGLE_CLIENT_SECRET=""
NUXT_WEBHOOK_SIGNING_SECRET=""

# --- Docker Agent ---  
NUXT_DOCKER_AGENT_SECRET=""

# --- Databases ---
# Postgres
NUXT_POSTGRES_URL=postgres://postgres:postgres@localhost:5432/postgres

# MongoDB
NUXT_MONGODB_COLLECTION_NAME=kv
NUXT_MONGODB_DATABASE_NAME=watchmytools
NUXT_MONGODB_URI=mongodb://localhost:27017

# Redis
NUXT_REDIS_HOST="localhost"
NUXT_REDIS_PASSWORD="secret"
NUXT_REDIS_PORT="6379"

# Upstash Redis
NUXT_UPSTASH_REDIS_REST_TOKEN=""
NUXT_UPSTASH_REDIS_REST_URL=""

# --- Mail (SMTP) ---
NUXT_SMTP_FROM="noreply@thecodeorigin.com"
NUXT_SMTP_HOST="localhost"
NUXT_SMTP_PASS=""
NUXT_SMTP_PORT="1025"
NUXT_SMTP_USER=""

# Upstash API
NUXT_UPSTASH_API_KEY=""
NUXT_UPSTASH_EMAIL=""

# --- Payment Gateways ---

# SePay
NUXT_SEPAY_BANK_NAME=""
NUXT_SEPAY_BANK_NUMBER=""
NUXT_SEPAY_TRANSACTION_PREFIX="SP"

# Vercel
CRON_SECRET=""

NUXT_CUSTOMER_SUPPORT_EMAIL=""
